
@font-face {
    font-family: 'Montserrat-bold';
    src: url("./fonts/Montserratarm-Bold.otf");
}
@font-face {
    font-family: 'Montserrat';
    src: url("./fonts/Montserratarm-Regular.otf");
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Montserrat, serif;
}
a{
    text-decoration: none;
}
.container{
    max-width: 1400px;
    margin: 0 auto;
}
.container-fluid{
    max-width: 1400px;
    margin: 0 auto;
}
.row{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 25px 0;
}
.j-content{
    justify-content: center !important;
}
.align-center{
    align-items: center;
}
.vh-30{
    height: 30vh;
}
.vh-50{
    height: 50vh;
}
.bg-primary{
    background: #5DBA2F;
    color: white;
}
.bg-secondary{
    background: #f9f9f8;
    border-radius: 20px;
}
.bg-wt{
    background: white;
    color: #5DBA2F;
}
.text-primary{
    color: #5DBA2F;
}
.outline-primary{
    outline: 1px solid rgba(93, 186, 47, 0.6);
}
.j-between{
    justify-content: space-between;
}
.btn-primary{
    font-size: 20px;
    padding: 10px 20px;
    border: none;
}
.btn-secondary{
    font-size: 20px;
    padding: 15px 50px;
    border: 1px solid #5DBA2F;
    background-color: white;
    color: #5DBA2F;

    &:hover{
        background-color: black;
        color: white;
    }
}
.text-field{

    button{
       padding: 10px 80px;
    }
}
.py-2{
    padding: 20px 0;
}
.py-3{
    padding: 30px 0;
}
.p-2{
    padding: 20px;
}
.my-3{
    margin: 30px 0;
}
.my-9{
    margin: 90px 0;
}
.radius-right{
    border-radius: 0 10px 10px 0;
}
.radius-4x{
    border-radius: 10px;
}
.text-center{
    text-align: center;
}
.section-padding{
    padding: 20px 0;
    margin-bottom: 50px;
}
.bg-image-1{
    background-image: url("./onex.jpg");
    background-size: cover;
}
.title{
    font-family: Montserrat-bold,serif;
    font-size: 35px;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-align: center;
}
.text{
    font-size: 14px;
    margin: 16px 0;
    padding: 0 0 20px;
    text-align: center;
    letter-spacing: 1px;
}
.input-filed{
    width: 80%;
    margin: 30px auto;
    display: flex;
}
.input-control{
    width: 80%;
    height: 47px;
    outline: none;
    padding: 0 10px;
    border: 1px solid;
    border-radius: 10px 0 0 10px;
}
.text-field{
    width: 37%;
}
.img-fluid{
    width: 40%;
}
.card{
    width: 30%;
    padding-bottom: 20px;

    img{
        width: 100%;
    }
}
.card-2{
 width: 25%;


    img{
        height: 200px;
        object-fit: contain;
    }
}
.menu-img{
    height: 400px;
    object-fit: contain;
    width: 40%;
}
.img-icon{
    width: 28px;
    margin-right: 14px;
    display: flex;
}
.photo{
    width: 50%;
    font-size: 16px;
    display: flex;
    align-items: center;
    margin: 20px 0;
}
.icon{
   width: 32%;
    align-items: center;
    object-fit: contain;
}
.video-1{

    .img-fluid{
        height: 300px;
        border-radius: 10px;
    }
}
.block-img{
    display: block;
    margin: auto;
    width: 100px;
    height: 100px;
    object-fit: contain;
}

.parent {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(4, 1fr);
}

.div1 {
    grid-row: span 2 / span 2;
}

.div2 {
    grid-row: span 2 / span 2;
}

.div3 {
    grid-row: span 2 / span 2;
}

.div4 {
    grid-row: span 2 / span 2;
}

.div5 {
    grid-row: span 2 / span 2;
}

.div6 {
    grid-row: span 2 / span 2;
}

.div7 {
    grid-row: span 2 / span 2;
    grid-row-start: 3;
}

.div8 {
    grid-row: span 2 / span 2;
    grid-row-start: 3;
}

.div9 {
    grid-row: span 2 / span 2;
    grid-row-start: 3;
}

.div10 {
    grid-row: span 2 / span 2;
    grid-row-start: 3;
}

.div11 {
    grid-row: span 2 / span 2;
    grid-row-start: 3;
}

.div12 {
    grid-row: span 2 / span 2;
    grid-row-start: 3;
}
.block{
    width: 100%;

    .parent{
        width: 60%;
        margin: auto;
        padding: 0 0 30px;
    }
    button{
        display: block;
        margin: auto;
        font-size: 15px;
    }
}
